:root {
    --ff-para: 'Average Sans', sans-serif;
    --ff-headings: 'Average', serif;
  

    --fs-xxx-lge: 3rem;
    --fs-xx-lge: 2.75rem;
    --fs-x-lge: 2.5rem;
    --fs-lge: 2.25rem;
    --fs-l-med: 2rem;
    --fs-med: 1.75rem;
    --fs-s-med: 1.5rem;
    --fs-small: 1.25rem;
    --fs-x-small: 1rem;
    --fs-xx-small: 0.75rem;

   
    --fw-regular: 400;

    --clr-bg: hsla(231 ,100%, 50%, 0.5);
    --clr-font: hsla(60, 100%, 52%, 1);
}




 body {
    background-color: var(--clr-bg);
 }
header {
    width:100%;
    height: auto;
    color: var(--clr-font);
    font-family: var(--ff-headings);
    font-size: var(--fs-xx-small);
    padding: 1em;
    text-align: center; 
    border-bottom: solid 0.1em var(--clr-font) 
 }
 header #hamburger {
  position: fixed;
  top: 0;
  left: 0;
  color: var(--clr-font);
  z-index: 1;
  font-size: var(--fs-small);
  cursor: pointer;
  transition: margin-left .5s;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}
header #hamburger:hover {
  background-color: var(--clr-font);
  color: var(--clr-bg);
}


nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: var(--clr-font);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 9rem;
}
nav a {
  
  text-decoration: none;
  font-size: var(--fs-x-small);
  text-align: left;
  color: var(--clr-bg);
  display: block;
  
}
nav a:hover {
  font-weight: var(--fw-semi-bold);
  text-decoration-line: underline;
}
ul {
 list-style-type: none;
}

video {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 1em;
}

.subdisplay {
  width:100%;
    height: auto;
    color: var(--clr-font);
    font-family: var(--ff-headings);
    font-size: var(--fs-xx-small);
    padding: 1em;
    text-align: center; 
    border-top: solid 0.1em;
}


.flexcontainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  margin: auto; 
  justify-content: center;
}
#box1 {
  padding: 1em;
  text-align:left;
  font-family: var(--ff-para);
  font-size: xx-small;
  color: var(--clr-font);
}
#box2 > img {
  padding: 1em;
  width: 100%;
}

.wrapper-gallery {
  margin: 1em 1em;
}
.wrapper-gallery > p {
  color: var(--clr-font);
}

.gridcontainercards {
  display: grid;
  width:70%
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  grid-template-areas: 
    "card1"
    "card2"
    "card3";
}
#card1 {
  grid-area: card1;
}
#card2 {
  grid-area: card2;
}
#card3 {
  grid-area: card3;
}
.card {
  border: 0.1em solid var(--clr-font);
  border-radius: 0.5em;
  padding: 1em 2em;
  margin: 1em;
  width: 90vw;
  height: auto;
  font-family: var(--ff-para);
  color: var(--clr-font);
  font-size: var(--fs-xx-small);
  text-align: center;
}

.testimonials {
  
  height: auto;
  margin: 0 auto;
  font-family: var(--ff-para);
  color:var(--clr-font);
  margin-bottom: 1rem;
}
.testimonials > .fa-quote-left {
  margin: 5%;
  font-size: var(--fs-small); 
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.testimonials .comment {
  width: 85%;
  margin: 0 auto;
  /*text-align: center;*/
  font-size: var(--fs-xx-small);  
}
.testimonials > .fa-quote-right {
  margin-left: 95%;
  font-size: var(--fs-small); 
  padding-bottom: 0.5em; 
}


 @media (min-width: 425px) {
    .subdisplay,
    header,
    header #hamburger,
    nav a,
    .card,
    .testimonials > .comment {
      font-size: var(--fs-x-small)
    }
    video {
      width: 90%;
    }
 }
 @media (min-width: 520px) {
  header,
  header #hamburger,
  nav a,
  .subdisplay,
  #box1,
  #house-gallery p,
  .card,
  .testimonials > .comment {
      font-size: var(--fs-small)
    }
    video {
      width: 80%;
    }
    
    
 }
 
 @media (min-width: 768px) {
  header,
  header #hamburger,
  nav a,
  .subdisplay,
  #box1, 
  .container > p,
  #house-gallery p,
  .card,
  .testimonials > .comment {
      font-size: var(--fs-med)
    }
    video {
      width: 70%;
    }
    .flexcontainer {
      flex-direction: row;
      align-items: center;
    }
    #box1,
    #box2 {
      width: 50%;
    }
    #box2 > img {
      width:100%;
    }
    .gridcontainercards {
      max-width: 70vw;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 1px;
      grid-template-areas:
        "card1 card2"
        "card3 card3" ;
    }
    .gridcontainercards > #card1, 
    .gridcontainercards > #card2 {
      width: 43vw;
    }
    #card3 {
      width: 92vw;
    }

 }
 
 @media (min-width: 1024px) {
  .subdisplay,
  header,
  header #hamburger,
  nav a,
  .card,
  .testimonials > .comment {
      font-size: var(--fs-lge)
    }
    video {
      width: 60%;
    }
 }
 
 @media (min-width: 1440px) {
  .subdisplay,
  header,
  header #hamburger,
  nav a,
  .card,
  .testimonials > .comment {
      font-size: var(--fs-x-lge)
    }
    video {
      width: 50%;
    }
 }
 

 
 
